<configuration>
  <system.webServer>

    <!-- indicates that the index.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to index.js node.js application

    Server Vars: https://msdn.microsoft.com/en-us/library/ms524602(v=vs.90).aspx
    -->

    <iisnode
      promoteServerVars="AUTH_USER,AUTH_TYPE,AUTH_PASSWORD,APPL_MD_PATH,APPL_PHYSICAL_PATH,PATH_INFO,PATH_TRANSLATED,SCRIPT_NAME,SCRIPT_TRANSLATED"
    />

    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    
  </system.webServer>
</configuration>
